<form>
	<table>
		<tr>  
			<td>
				<table class="ui-widget">
					<tr>  <td><label for="id_new_friend">New friend:</label></td>  <td><input type="text" id="id_new_friend" /></td> <td><input type="button" id="id_btn_send_request" class="buttons" value="Send request"/></td> </tr>
				</table>
			</td>  
		
		</tr>
		<tr> <td></td> <td></td> <td></td> </tr>
		<tr> <td></td> <td></td> <td></td> </tr>
		<tr> 
			<td>
				<table id="id_table_requests">
					<tr> <th id="id_header_requests" colspan="4"> <h3> Requests </h3> </th></tr>
				</table>
			</td> 
			
			<td>
				<table id="id_table_friends">
					<tr id="id_tr_header_friends"> <th id="id_header_friends" colspan="3"> <h3> Friends </h3> </th></tr>
				</table>
			</td>
		</tr>
	</table>
	
	
</form>