<form>
	<table id="id_table_invitations">
		<tr> <th colspan="12"> <h3> Invitations </h3> </th></tr>
		<tr id="id_tr_header_invitations"> <th></th> <th id="id_invitations_header_showing"> Showing </th> <th id="id_invitations_header_cultural_institution"> Cultural institution </th> <th id="id_invitations_header_date">  Date  </th> <th id="id_invitations_header_time">  Time  </th> <th id="id_invitations_header_auditorium"> Auditorium </th> <th id="id_invitations_header_seat"> Seat  </th> <th id="id_invitations_header_price"> Price </th> <th id="id_invitations_header_reserved_by">  Reserved by </th> <th id="id_invitations_reserved_reserved_date_and_time"> Reserved date and time </th>  <th></th> <th></th> </tr>
	</table>
	
	<br/>
	
	<table id="id_table_tickets">
		<tr> <th colspan="11"> <h3> Tickets </h3> </th>  <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> </tr>
		<tr id="id_tickets_tr_header_tickets"> <th></th> <th id="id_tickets_header_showing"> Showing </th> <th id="id_tickets_header_cultural_institution"> Cultural institution </th> <th id="id_tickets_header_date">  Date  </th> <th id="id_tickets_header_time"> Time </th> <th id="id_tickets_header_auditorium"> Auditorium </th> <th id="id_tickets_header_seat">  Seat  </th> <th id="id_tickets_header_price"> Price </th> <th id="id_tickets_header_reserved_by"> Reserved by </th> <th id="id_tickets_header_reserved_reserved_date_and_time"> Reserved date and time </th> <th></th> </tr>
	</table>
</form>