<div class="image_preview"><img alt="You did not select an image" src="#" class="previewing" /></div>
			
<form id="id_registrate_form" class="forma">
	<table>
		<tr>  <td><label for="id_username">Username:</label></td>  <td><input type="text" id="id_username" name="username" /></td>  </tr>
		<tr>  <td><label for="id_password">Password:</label></td>  <td><input type="password" id="id_password" name="password" /></td>  </tr>
		<tr>  <td><label for="id_repeat_password">Repeat password:</label></td>  <td><input type="password" id="id_repeat_password" name="repeat_password" /></td>  </tr>
		<tr>  <td><label for="id_first_name">First name:</label></td>  <td><input type="text" id="id_first_name" name="first_name" /></td>  </tr>
		<tr>  <td><label for="id_last_name">Last name:</label></td>  <td><input type="text" id="id_last_name" name="last_name"/></td>  </tr>
		<tr>  <td><label for="id_email">Email:</label></td>  <td><input type="text" id="id_email" name="email" /></td>  </tr>
		<tr>  <td><label for="id_city">City:</label></td>  <td><input type="text" id="id_city" name="city" /></td>  </tr>
		<tr>  <td><label for="id_phone_number">Phone number:</label></td>  <td><input type="text" id="id_phone_number" name="phone_number" /></td>  </tr>
		<tr>  <td><label for="id_user_image"> User image:</label></td>  <td><input type="file" id="id_user_image" name="image" class="id_image" accept=".gif, .jpg, .png" /></td>  </tr>
	</table>
			
	<div align="center"><input type="button" id="id_btn_register" class="buttons" value="Register"/>
		&nbsp; Do you already have an account? &nbsp; <a href="#login" class="a_login" > Login </a> 
	</div>
	
	<br/>
	
</form>