<h2> Choose seats by clicking the corresponding seat in the layout below:</h2>

<div id="holder"> 
    <ul  id="place">
    </ul>    
</div>

<div style="float:left;"> 
	<ul id="seatDescription">
	    <li style="background:url('images/available_seat_img.gif') no-repeat scroll 0 0 transparent;">Available Seat</li>
	    <li style="background:url('images/booked_seat_img.gif') no-repeat scroll 0 0 transparent;">Booked Seat</li>
	    <li style="background:url('images/selected_seat_img.gif') no-repeat scroll 0 0 transparent;">Selected Seat</li>
	</ul>
</div>

<br/>

<div align="center">	
	<input type="button" id="id_btn_book_selected_seats" class="buttons" value="Book the selected seats"/>
	<br/>    
</div>