<form>
	<table id="id_table_visited">
		<tr> <th colspan="5"> <h3> Visited cultural institutions </h3> </th></tr>
		<tr id="id_visited_tr_header_visited"> <th></th> <th id="id_header_visited_name"> Name </th> <th id="id_header_visited_address"> Address </th> <th id="id_header_visited_description"> Description </th> <th id="id_header_visited_type"> Type </th> </tr>
	</table>
	
	<br/>
	
	<table id="id_table_unvisited">
		<tr> <th colspan="5"> <h3> Unvisited cultural institutions </h3> </th>  <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> <th></th> </tr>
		<tr id="id_unvisited_tr_header_unvisited"> <th></th> <th id="id_header_unvisited_name"> Name </th> <th id="id_header_unvisited_address"> Address </th> <th id="id_header_unvisited_description"> Description </th> <th id="id_header_unvisited_type"> Type </th> </tr>
	</table>
</form>