<form id="id_add_requisite_form" class="forma">
	<table>
		<tr>  <td><label for="id_name">Name:</label></td>  <td><input type="text" id="id_name" /></td>  </tr>
		<tr>  <td><label for="id_description">Description:</label></td>  <td><textarea id="id_description" form="id_add_requisite_form" cols="45" rows="3" ></textarea></td>  </tr>
		<tr>  <td> <label for="id_price">Price:</label></td>  <td><input id="id_price" type="number"/></td>  </tr>
		<tr>  <td><label for="id_cultural_institution">Cultural institution:</label></td>  <td><select id="id_cultural_institution"></select></td>  </tr>
		<tr>  <td><label for="id_showing">Showing:</label></td>  <td><select id="id_showing"></select></td>  </tr>
	</table>
			
	<div align="center">
		<input type="button" id="id_btn_add_requisite" class="buttons" value="Add requisite"/>
	</div>
	
	<br/>
	
</form>