
<form id="id_login_form" class="forma">
	<div align="center">
		<table >
			<tr>  <td><label for="login_username">Username:</label></td>  <td><input type="text" id="login_username" /></td>  </tr>
			<tr>  <td><label for="login_password">Password:</label></td>  <td><input type="password" id="login_password"/></td>  </tr>
		</table>
	</div>
	<div align="center"> &nbsp; <input type="button" id="id_btn_login" class="buttons" value="Login"/>
		&nbsp; You have no account? &nbsp; <a href="#registrate" class="a_registrate"> Registrate </a>
	</div>
</form>
