			
<form id="id_registrate_form" class="forma">
	<table>
		<tr>  <td><label for="id_username">Username:</label></td>  <td><input type="text" id="id_username" /></td>  </tr>
		<tr>  <td><label for="id_password">Password:</label></td>  <td><input type="password" id="id_password" /></td>  </tr>
		<tr>  <td><label for="id_repeat_password">Repeat password:</label></td>  <td><input type="password" id="id_repeat_password" /></td>  </tr>
		<tr>  <td><label for="id_first_name">First name:</label></td>  <td><input type="text" id="id_first_name" /></td>  </tr>
		<tr>  <td><label for="id_last_name">Last name:</label></td>  <td><input type="text" id="id_last_name" /></td>  </tr>
		<tr>  <td><label for="id_email">Email:</label></td>  <td><input type="text" id="id_email" /></td>  </tr>
		<tr>  <td><label for="id_city">City:</label></td>  <td><input type="text" id="id_city" /></td>  </tr>
		<tr>  <td><label for="id_phone_number">Phone number:</label></td>  <td><input type="text" id="id_phone_number" /></td>  </tr>
	</table>
			
	<div align="center"><input type="button" id="id_btn_registrate" class="buttons" value="Register"/>
		&nbsp; Do you already have an account? &nbsp; <a href="#login" class="a_login" > Login </a> 
	</div>
	
	<br/>
	
</form>