<form>
	<table>
		<tr>  
			<td>
				<table class="ui-widget">
					<tr>  <td><label for="id_cultural_institution">Cultural institution:</label></td>  <td><select id="id_cultural_institution"></select></td>  </tr>
					<tr>  <td><label for="id_showing">Showing:</label></td>  <td><select id="id_showing"></select></td>  </tr>
					<tr> <td><label for="id_date"> Date: </label></td>  <td><input type="date" id="id_date" /></td> </tr>
					<tr> <td><label for="id_time"> Time: </label></td>  <td><input type="time" id="id_time" /></td> </tr>
				</table>
			</td>  
		
		</tr>
	</table>
	
	<div align="center">
		 <input type="button" id="id_btn_show_seats" class="buttons" value="Show seats"/> 
	</div>
</form>