<form>
	<table>
		<tr>  
			<td>
				<table class="ui-widget">
					<tr>  <td><label for="id_cultural_institution">Cultural institution:</label></td>  <td><select id="id_cultural_institution"></select></td>  </tr>
					<tr>  <td><label for="id_showing">Showing:</label></td>  <td><select id="id_showing"></select></td>  </tr>
					<tr> <td><label for="id_date"> Date: </label></td>  <td><select id="id_date"></select></td> </tr>
					<tr> <td><label for="id_auditorium"> Auditorium: </label></td>  <td><select id="id_auditorium"></select></td> </tr>
					<tr> <td><label for="id_time"> Time: </label></td>  <td><select id="id_time"></select></td> </tr>
					<tr> <td> Price: </td>  <td><b id="id_price"></b></td> </tr>
				</table>
			</td>  
		
		</tr>
	</table>
	
	<div align="center">
		 <input type="button" id="id_btn_show_seats" class="buttons" value="Show seats"/> 
	</div>
</form>