html { height: 100%; }

body {height: 100%; background: url("bg.png");}

.page {align: center}

#header {background-color: crimson; align:center; }

#center {border:3px black; background-color: crimson; justify-content: center; position: absolute; }
  
 .buttons {
    background-color: lightblue; /* Green */
    border: border:3px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

th, td {
    padding: 8px;
    
}

th {text-align: center;
	bgcolor: grey;}

#title {
  color: #0000ff;
  font-size: 25px;
  text-align:center;
}

#id_kratak_opis {width:auto; height:auto; }

.small_img {
	width: 50px; height: 50px
}

.medium_img {
	width: 400px; height: 230px

#vanredne_situacije {border-color: green;}

h4 {color: green; }
h3 {color: blue; }

input[type=checkbox] {
    zoom: 3;
}

.google_map {width: 300px; height: 300px;}

#id_pretraga_i_filter {height: auto; width: 100%

