html { height: 100%; }

body {height: 100%; background-color: #0080ff;}

.page {align: center}

.image_preview { border:3px solid red; width:auto; height:230px;}

#header {background-color: #ff8000; align:center; }

#center {border:3px solid blue; background-color: #ff9900; justify-content: center; position: absolute; }
  
 .buttons {
    background-color: #008000; /* Green */
    border: border:3px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons_remove {
    background-color: #ff0000;
    border: border:3px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 
th, td {
    padding: 8px;
    
}

th {text-align: center;
	bgcolor: grey;}

#title {
  color: green;
  font-size: 25px;
  text-align:center;
}

#id_kratak_opis {width:auto; height:auto; }

.small_img {
	width: 50px; height: 50px
}

.medium_img {
	width: 400px; height: 230px
}

#vanredne_situacije {border-color: green;}

h4 {color: green; }
h3 {color: blue; }

input[type=checkbox] {
    zoom: 3;
}

.google_map {width: 300px; height: 300px;}

#id_pretraga_i_filter {height: auto; width: 100%}
